.create-button {
    background: #424143;
    border-radius: 4px;
    color: #fff;
    /* width: 97px; */
    height: 42px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: -0.32px;
  }
  .create-button:hover {
    background: #424143;
    color: #fff;
  }
  .create-button:disabled {
    background: #42414388;
    color: #fff;
  }
  .create-button svg {
    margin-right: 6px;
  }
  
  .create-button:focus,
  .filter-button:focus {
    box-shadow: none;
    outline: 0;
  }
  .filter-button {
    background: #fff;
    border-radius: 4px;
    border: 1px solid #dee1e6;
    text-transform: uppercase;
    color: #424143;
    width: 80px;
    height: 38px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    transition: all 0.25s ease-in-out;
  }
  .filter-button:hover {
    background: #424143;
    color: #fff;
  }
  .filter-button.active-button {
    background: #424143;
    color: #fff;
  }
  .filter-button svg {
    margin-right: 6px;
    color: #424143;
    transition: all 0.25s ease-in-out;
  }
  
  .filter-button.active-button svg {
    color: #fff;
  }
  .filter-button:hover svg {
    color: #fff;
  }
  
  /* common action button */
  .common-action-button {
    color: #424143;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    cursor: pointer;
    transition: all 0.25s;
    padding: 0.6rem 1rem 0.6rem 0.6rem;
    width: 100%;
    background: #fff;
    border: 0px;
    text-align: left;
  }
  
  .common-action-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .common-action-button svg {
    fill: #000;
    transition: all 0.25s;
  }
  .form-control.form-daterangepicker,
  .btn-filter {
    width: 280px !important;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-field {
    opacity: 0;
    margin-right: 10px;
    display: none;
    animation: none;
  }
  .animate-field.show {
    display: block;
    animation: fade-in 0.5s;
  }
  
  .animate-field.show:first-child {
    animation-delay: 0.4s;
  }
  .animate-field.show:nth-child(2) {
    animation-delay: 0.3s;
  }
  .animate-field.show:nth-child(3) {
    animation-delay: 0.2s;
  }
  
  .animate-field.show:nth-child(4) {
    animation-delay: 0.1s;
  }
  