.common-async-select-wrapper .form-label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #1e2125;
  margin: 0;
}

.common-async-select-wrapper .async-select-field > div {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  box-sizing: border-box;
  box-shadow: 0px 0px 120px 11px rgba(0, 0, 0, 0.05);
}
