.common-textfield-wrapper .form-control {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: none;
  }
  .common-textfield-wrapper .form-control.login {
    box-shadow: 0px 0px 120px 11px rgba(0, 0, 0, 0.05);
  }
  
  .common-textfield-wrapper .form-control.required-field {
    border: 1px solid #BF202F;
  }
  .common-textfield-wrapper .form-label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #1E2125;
    margin: 0;
  }